.footer{
    width: 100%;
    height: 50vh;
    margin-top: 30px;
    padding: 20px;
    /* background-color: #E96AA8; */
    background: linear-gradient(144deg, #ac41f8, #d43c86 50%, #e33fba);
    /* background-image: linear-gradient(144deg, #AF40FF, #E96AA8 50%, #ff00bf); */
    color: white;
    font-family: sans-serif;
    font-weight: 400;

}

.footer-inner{
    display: flex;
    align-items: start;
    width: 100%;
    height: 100%;
}

.footer-inner ul h2{
    /* margin-left: 20px; */
}

.footer-inner ul:nth-child(1){
    width: 18%;
color: white;
    height: 30vh;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: space-between; */
    font-size: 22px;
}
.footer-inner ul{
    width: 25%;
    height: 30vh;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* justify-content: space-between; */
    font-size: 22px;
}
.footer-inner ul:nth-child(3){
    gap: 20px;
    width: 30%;
}
.footer-inner ul:nth-child(3) li:nth-child(2){
    margin-top: -10px;
}
.footer-inner ul:nth-child(3) i{
    margin-inline: 5px;
}
.footer-inner ul i{
    margin-right: 10px;
    color: #000;
    /* background-color: #000; */
}
.f-copyright{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    text-align: center;
    padding: 15px;
}
.conditions{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
.message {
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.message i{
    width: fit-content;
    height: fit-content;
    font-size: 26px;
}

.link-den{
    display: flex;
    justify-content: space-between;
    width: 41%;
}

@media screen and (max-width: 1077px) {
    .footer{
        height: 80vh;
    }
    .footer-inner{
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 887px) {
    .footer{
        height: 100%;
    }
    .footer-inner ul:nth-child(1){
        width: 100%;
        height: fit-content;
        display: block; 
    }
    .footer-inner ul:nth-child(2){
        width: 100%;
        height: fit-content;
        display: block; 
    }
    .link-den{
        width: 17%;
    }
    .footer-inner ul:nth-child(3){
        width: 100%;
        height: fit-content;
        display: block; 
    }
    .footer-inner ul:nth-child(4){
        display: block; 
        width: 100%;
        height: fit-content;
    } 
    .footer-inner ul{
      font-size: 1.5rem;
    }
    .f-copyright{
        height: 40%;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
    .conditions{
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }
}

@media screen and (max-width: 504px){
    .f-copyright{
        font-size: 100%;
    }
}

@media screen and (max-width: 463px) {
    .g-mail{
        font-size: 1.2rem;
        gap: 6px;
        display: flex;
        align-items: center;
    }
    .f-copyright{
        height: 30vh;
    }
    .conditions{
        height: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 395px) {
    .footer-inner ul h2 {
        font-size: 20px;
    }
    .footer-inner ul:nth-child(4) li{
        margin-top: 20px;
    }
    .footer-inner ul:nth-child(3) li {
        margin-top: 10px;
        font-size: 18px;
    }
    .footer-inner ul li{
        margin-top: 15px;
    }
}