.Freelance-page {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    background: url(/src/components/images/hero-bg-dark.png);
    background-size: cover;
    background-repeat: repeat;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Freelance-top{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.Freelance-top h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.Freelance-top h1 span {
    color: #ff00bf;
}

.profile-btn {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #E96AA8 50%, #ff00bf);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 30%;
    min-width: 10px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.profile-btn:active,
.profile-btn:hover {
    outline: 0;
}
.profile-btn span {
    background-color: rgb(5, 6, 45);
    padding: 12px 8px;
    border-radius: 6px;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.profile-btn:hover span {
    background: none;
}

.profile-form{
    width: 60%;
    height: 80vh;
    background-color: black;
    /* top: 30%; */
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
    top: 25%;
    display: flex;
}

.profile-inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.select-img{
    display: flex;
    overflow: hidden;
}


.r-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin: 5px 3px;
    position: absolute;
    right: 0;
}

.r-icon i{
    font-size: 27px;
}



.p-left{
    padding: 20px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AF40FF
}
.p-left .select-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 40%;
    border-radius: 100%;
    flex-direction: column;
    gap: 20px;
    border: #FFFFFF 2px solid;
}
.p-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-left .select-img label{
    font-size: 24px;
}
.p-left input{
    width: 40%;
}
.p-right{
    width: 60%;
}
.p-right .form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 30px;
}
.p-right .form input{
    width: 100%;
    padding: 12px 20px;
    border: none;
    font-size: 17px;
    background-color: transparent;
    outline: none;
    color: #E96AA8;
    border-bottom: 2px solid whitesmoke;
}
.p-right .form button{ 
    max-width: 75%;
}


.freelancer{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.freelance-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.user-card{
    width: 310px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid #AF40FF;
    padding: 10px;
    border-radius: 15px;
    transition: all ease 0.4s;
}
.user-card:hover{
    transform: scale(0.9);
}
.user-card .img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
}
.user-card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-card p{
    width: 100%;
    text-align: center;
}

.let-talk-btn{
    font-size: 20px;
    max-width:fit-content;
    min-width: 10px;
}

.nxt-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nxt-btn{
    background-color: #ff00bf;
    padding: 10px;
    border-radius: 5px 10px;
    border: none;
}
.nxt-btn:hover{
    background-color: #8f2dd5;
    cursor: pointer;
}


@media screen and (max-width: 992px){
    .profile-form{
        height: fit-content;
    }
    .profile-inner{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .p-left{
        width: 100%;
    }
    .p-right{
        width: 100%;
    }
}

@media screen and (max-width: 887px) {
    .profile-form{
        width: 80%;
    }
    .Freelance-top h1{
        font-size: 1.8rem;
    }
    .profile-btn{
        max-width: fit-content;
    }
}