.f-profile-main {
    width: 100%;
    height: 97vh;
    /* background-color: whitesmoke; */
    overflow: hidden;
    /* background-image: url(../images/li1.png); */
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    padding-top: 30px;
}
.f-profile-main.day-mode,.f-profile-main.day-mode .fab {
    background-color: whitesmoke;
    color: black;
  }
  .f-profile-main.day-mode .block {
    background-image: url(../images/Fl-pb.png);
  }
  .f-profile-main.night-mode {
    background-image: url(../images/li1.png); 
    color: white;
  }
.fa-sun, .fa-moon{
    font-size: 1.5rem;
    position: absolute;
    top: 12%;
    right: 5%;
    cursor: pointer;
    transition: all ease 0.4s;
    z-index: 90;
}
.fa-sun:hover{
    color: palevioletred;
}
.fa-moon:hover{
    color: palevioletred;
}

.f-user-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 88;
}

.f-user-container {
    width: 60%;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.f-top-img {
    width: 100%;
    height: fit-content;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    font-size: 1.3rem;
}
.f-top-img .block{
    background-image: url(../images/freelancer-pb.png);
    background-size:130%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 300px;
    height:  150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-top-img img {
    width: 133px;
    height: 133px;
    /* border: 2px solid palevioletred; */
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
}

.f-name-profession {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.f-soical-id {
    /* background-color: antiquewhite; */
    width: 100%;
    text-align: center;
    padding: 15px;
}

.f-social-a {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1.4rem;
}

.f-social-a i {
    color: white;

}

.f-work {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.f-work {
    display: flex;
}

.f-work span {
    text-align: center;
}

.f-cv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px;
    /* gap: 50px; */
}

.f-cv button span {
    /* background-color: ; */
}

.f-e-c {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    max-width: 0%;
    min-width: fit-content;
}

.f-e-c span {
    padding: 10px 15px;
    width: fit-content;
    border-radius: 5px;
}

.f-e-c span:hover {
    /* background-color: rgb(85, 84, 84); */
    cursor: pointer;
}

.f-prj-skl {
    width: 100%;
    padding: 15px;
}

.f-project-skil-btns {
    display: flex;
    width: 55%;
    color: black;
    background-color: #ced1d2;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.f-project-skil-btns h4 {
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

/* .f-project-skil-btns h4:nth-child(1) {
    background-color: #FAFDFF;
  } */

.f-project-skil-btns h4.active {
    background-color: #FAFDFF;
}

.f-project-skil-btns h4:hover {
    background-color: #FAFDFF;
    transition: ease 0.5s all;
}

.f-projects-s {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.f-projects-l {
    width: 45%;
    height: 160px;
    background-color: #E9EBEC;
    border-radius: 15px;
}

.f-projects-r {
    width: 45%;
    border-radius: 15px;
    background-color: #E9EBEC;
    height: 160px;
}

.el2-img,
.el3-img {
    top: -14%;
    left: 11%;
}

.el3-img {
    top: -20%;
    left: 55%;
}

.el4-img {
    top: 25%;
    right: -14%;
}

.el1-img {
    top: 27%;
    left: -10%;
}

.el5-img {
    bottom: -30%;
    left: 60%;
}

.el6-img {
    bottom: -30%;
    right: 60%;
}

.elem-img {
    width: 400px;
    height: 400px;
    position: absolute;
    object-fit: cover;
}

.liel-img {
    width: 700px;
    height: 700px;
    object-fit: cover;
    position: absolute
}
.li1{
    left: -20%;
    top: 23%;
}
.li2{
    top: -24%;
    left: 10%;
}
.li3{
    width: 800px;
    height: 500px;
    object-fit: cover;
    right: -20%;
    top: 17%;
}

@media screen and (max-width: 603px) {
    .f-profile-main {
        overflow: hidden;
    }

    .f-user-container {
        width: 100%;
    }

    .f-cv {
        width: 150%;
    }

    .f-e-c {
        width: 30%;
    }
    .el2-img,.el1-img{
        left: -50%;
    }
    .el4-img{
        right: -50%;
    }
    .li1{
        left: -85%;
        top: 45%;
    }
    .li2{
        top: -30%;
    }
    .li3{
        top: 40%;
        right: -90%;
    }
    .el5-img{
        left: 20%;
    }
    .el6-img{
        right: 20%;
    }

}

