.Freelance-page {
    width: 100%;
    height: fit-content;  /* Change this to min-height */
    /* min-height: 150vh;   */
    margin-top: 60px;
    background: url(/src/components/images/freelancerback.jpeg);
    background-size: cover;
    background-repeat: repeat;
    color: whitesmoke;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}


.Freelance-top{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.Freelance-top h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

/* .Freelance-top h1 span {
    color: #ff00bf;
    
} */


.Freelance-top h1 span{
  font-size: 2.5rem;
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ff00bf, 0 0 15px #ff00bf, 0 0 20px #ff00bf, 0 0 40px #ff00bf, 0 0 60px #ff0000, 0 0 10px #ff00bf, 0 0 98px #ff0000;
    color: #AF40FF;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}


@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ff00bf, 0 0 15px #ff00bf, 0 0 20px #ff00bf, 0 0 40px #ff00bf, 0 0 60px #ff0000, 0 0 10px #ff00bf, 0 0 98px #ff0000;
    color: #AF40FF;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ff00bf, 0 0 15px #ff00bf, 0 0 20px #ff00bf, 0 0 40px #ff00bf, 0 0 60px #ff0000, 0 0 10px #ff00bf, 0 0 98px #ff0000;
    color: #eae8e8;
  }
}

.profile-btn {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #E96AA8 50%, #ff00bf);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 30%;
    min-width: 10px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.profile-btn:active,
.profile-btn:hover {
    outline: 0;
}
.profile-btn span {
    background-color: rgb(5, 6, 45);
    padding: 12px 8px;
    border-radius: 6px;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.profile-btn:hover span {
    background: none;
}

.profile-form {
    width: 60%;
    height: fit-content;  /* Change this to 100% */
    background-color: black;
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
    top: 6%;
    display: flex;
}
.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    height: fit-content;
    width: 40%;
    margin-top: 30px;
  }
  
  .custom-file-upload span {
    margin-right: 5px;
  }
  
  .custom-file-upload:hover {
    background-color: #45a049;
  }
  

.profile-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.select-img{
    display: flex;
    overflow: hidden;
}


.r-icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin: 5px 3px;
    position: absolute;
    right: 0;
}

.r-icon i{
    font-size: 27px;
}

.p-left{
    padding: 20px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AF40FF
}
.p-left .select-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    flex-direction: column;
    gap: 20px;
    border: #FFFFFF 2px solid;
}
.p-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-left .select-img label{
    font-size: 24px;
}
.p-left input{
    width: 40%;
    overflow: hidden;
}
.p-right{
    width: 100%;
    padding: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.p-right .form {
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 30px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}

.p-right .form input {
    padding: 10px;
    border: none;
    width: 40%;
    font-size: 17px;
    background-color: transparent;
    outline: none;
    margin: 20px 15px; /* Adjust the margin as needed */
    color: #E96AA8;
    border-bottom: 2px solid whitesmoke;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.p-right button{ 
    width: 100%;
    margin: 0px auto;
}


.freelancer{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.freelance-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.user-card{
    width: 270px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 3px solid #ff00bf;
    padding: 10px;
    border-radius: 15%;
    transition: all ease 0.4s;
}
.user-card:hover{
    transform: scale(0.9);
}
.user-card .img{
    width: 45%;
    height: 35%;
    border-radius: 50%;
    margin-top: 10px;
    background-color: black;
    overflow: hidden;
}
.user-card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-card p{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.let-talk-btn{
    font-size: 20px;
    max-width:fit-content;
    min-width: 10px;
    margin-bottom: 20px;
}

.nxt-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nxt-btn{
    background-color: #ff00bf;
    padding: 10px;
    border-radius: 5px 10px;
    border: none;
}
.nxt-btn:hover{
    background-color: #8f2dd5;
    cursor: pointer;
}


@media screen and (max-width: 992px){
    .profile-form{
        height: fit-content;
    }
    .profile-inner{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .p-left{
        width: 100%;
    }
    .p-right{
        width: 100%;
    }
}

@media screen and (max-width: 887px) {
    .profile-form{
        width: 80%;
    }
    .Freelance-top h1{
        font-size: 1.8rem;
    }
    .profile-btn{
        max-width: fit-content;
    }
}