.sign-page{
    width: 100%;
    height: 100vh;
    background: linear-gradient(25deg, #E96AA8 50%, #242323 50%);
}
.sign-inner{
    width: 70%;
    height: 70vh;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: 19%;
    left: 15%;
    box-shadow: #000 6px 10px 10px;
    overflow: hidden;
    display: flex;
    font-family: var(--primary-font-famliy);
    justify-content: space-between;
}
.sign-l{
    width: 40%;
    height: 100%;
}

.sign-l img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-r{
    width: 50%;
    height: 100%;
    padding: 30px;
    /* background-color: #242323; */
}
.sign-r h2{
    color: black;
    text-align: center;
}

.sign-r form{
    width: 100%;
    height: 100%;
    padding: 20px;
    /* background-color: #4533be; */
}
.sign-r form h3{
    color: black;
}
.sign-r form button{
    margin: 30px auto;
}
.f-password{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.f-password h5{
    color: black;
    font-size: 14px;
}

.f-password h5 span{
    color: #4533be;
}
.sign-info{
    /* background-color: #242323; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    height: 50%;
}
.sign-info input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    padding: 20px;
    background-color: transparent;
    font-size: 17px;
    /* margin-top: 10px; */
}
.input-icon{
    display: flex;
    align-items: center;
    border-bottom: 2px solid gray;
}
.input-icon svg{
    margin-left: 10px;
}
.login-btn{
    text-align: center;
    margin: 30px auto;
}

@media screen and (max-width:998px) {
    .sign-inner{
        width: 100%;
        left: 0;
        height: fit-content;
        justify-content: space-around;
    }
    .sign-l{
        width: 40%;
        height: 100%;
    }
    .sign-r{
        width: 60vh;
        padding: 10px;
    }
    .sign-r form button{
        font-size: 17px;
    }
    .sign-r form button span{
        padding: 5px 12px;
    }
    .f-password{
        font-size: 12px;
    }
}

@media screen and (max-width:887px) {
    .sign-page{
        height: 100vh;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
    }
    .sign-inner{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        position: relative;
        justify-content: center;
    }
    .sign-l{
        display: none;
    }
    .sign-l img{
        display: none;
    }
    .sign-r{
        width: 100%;
        height: 100%;
        position: absolute;
        /* left: 30%; */
    }
}