@font-face {
    font-family: 'regular-gillroy';
    src: url(/src/components/font/Gilroy-Regular.ttf);
}
:root {
    --primary-text-color: #ff00bf;
    --primary-font-famliy: 'regular-gillroy';
}
a {
    text-decoration: none;
    color: white;
}

.nav {
    width: 100%;
    height: 80px;
    padding: 10px 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    font-family: var(--primary-font-famliy);
    align-items: center;
    color: white;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav-l img {
    width: 40%;
    width: 60px;
    height: 60px;
}

.nav-r {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-r h3 {
    font-weight: 500;
    cursor: pointer;
}

.h-nav-h3 {
    max-height: 23px;
    overflow: hidden;
}

.h-nav-h3:hover h3:nth-child(1) {
    transition: all ease 0.7s;
    transform: translateY(-100%);
}

.h-nav-h3:hover .s-h3 {
    transition: all ease 0.7s;
    transform: translateY(-100%);
    color: var(--primary-text-color);
}

.n-button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #E96AA8 50%, #ff00bf);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 17px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.n-button:active,
.n-button:hover {
    outline: 0;
}

.n-button span {
    background-color: rgb(5, 6, 45);
    padding: 12px 19px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.n-button:hover span {
    background: none;
}
.mobiletoggle{
    display: none;
}
#hamburger-button{
    display: none;
}

@media screen and (max-width:998px) {

    .nav-r {
        display: none;
    }

    .stopscrolling {
        overflow: hidden;
    }

    .h-nav-h3 {
        max-height: 35px;
        overflow: hidden;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 0px;
        right: 0;
        width: 100vw;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9998;
        background-color: transparent;
    }

    .hamburgerbase {
        width: 80%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
    }

    #hamburger-button {
        font-size: 3rem;
        font-weight: 800;
        overflow: hidden;
        z-index: 10000;
        width: 3rem;
        height: 2rem;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color:  transparent;
        cursor: pointer;
    }

    #burger-bar1 {
        background-color: white;
        width: 100%;
        height: 3px;
        border-radius: 0px;
        transition-duration: .3s;

    }

    #burger-bar2 {
        width: 100%;
        height: 3px;
        border-radius: 0px;
        transition-duration: .3s;
        background-color: white;
    }

    #burger-bar3 {
        width: 100%;
        height: 3px;
        border-radius: 0px;
        transition-duration: .3s;
        background-color: white;
    }

    .hamburger-animation1 {
        transform: rotate(45deg) scaleX(1.7);
        transition-duration: .3s;
        transform-origin: left;
        background-color: var(--color-white);

    }

    .hamburger-animation2 {
        transform: scaleX(0);
        background-color: white;
    }

    .hamburger-animation3 {
        transform: rotateZ(-45deg) scaleX(1.7);
        transform-origin: left;
        transition-duration: .3s;
        background-color: white;
    }
     .mobiletoggle{
        z-index: 20;
        height: 100%;
        width: 70%;
        position: fixed;
        top: 0;
        right: 0;
        text-decoration: none;
        font-size: 2rem;
        cursor: pointer;
        /* display: none; */
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(1000px);
        background-color: #000;
        transition-duration: 1.6s;
    }
    .translate{
        transform: translate(0px);
    }
    .mobiletoggle ul{
        display: flex;
        height: 60%;
        list-style: none;
        flex-direction: column;
        justify-content: space-between;
    }
}