.page-2 {
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    background: linear-gradient(45deg, #4ED8FA 1%, #000 40%);
}

.page-2 h1 {
    text-align: center;
    font-size: 2.8rem;
}

.page-2 h1 span {
    color: #ff00bf;
}

.page2-inner {
    width: 100%;
    height: 100%;
    margin: 30px 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-left {
    width: 50%;
    height: 80%;
    border-radius: 30px;
}

.page2-left img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.page2-right {
    width: 43%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.page2-right p {
    font-size: 17px;
    text-align: justify;
}
@media screen and (max-width: 1077px) {
    .page2-inner{
        flex-direction: column;
        justify-content: space-between;
    }
    .page-2{
        height: 100%;
         background: linear-gradient(130deg, #2c7587 15%, #000 30%);
    }
    .page2-left{
        width: 60%;
    }
    .page2-right{
        width: 100%;
        margin-top: 20px;
    }
    .page2-right p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 504px){
    
    .top-right{
        width: 100%;
    }
    .top-left h1{
        font-size: 120%;
    }
    .left-swipe h2{
        font-size: 1.3rem
    }
    .page2-left{
        width: 100%;        
    }
}
@media screen and (max-width: 395px){
    .page-2 h1{
        font-size: 1.8rem;
    }
    .page2-right p {
        font-size: 1rem;
    }
}