.privacy-main{
    width: 100%;
    height: 100%;
    padding: 10px;
    /* background-color: aqua; */
}
.privacy-main h1{
    text-align: center;
    font-size: 3rem;
    color: #E96AA8;
    margin-top: 100px;
}
.privacy-container{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 30px;
}
.policy h4{
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
}
.policy p{
    font-size: 1.2rem;
    width: 99%;
    margin-top: 10px;
    margin-left: 13px;
}
.privacy-main h5{
    text-align: center;
    font-size: 1.2rem;
    color: #E96AA8;
}