.work-left-swipe{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    overflow: hidden;
}
.work-left-swipe h2{
    white-space: nowrap;
    font-size: 2.5rem;
}
.work-left-swipe h2 span{
    color: #ff00bf;
}
@media screen and (max-width: 504px){
    .work-left-swipe h2{
        font-size: 1.7rem;
    }
}